<!DOCTYPE html>
<html>
<head>
  <title>New Friend Request</title>
</head>
<body>
  <h1>You have a new friend request!</h1>
  <p>
    Hi <%= @receiver.username %>,
    <br>
    You have received a new friend request from <%= @user.username %>.
  </p>
</body>
</html>
