<!DOCTYPE html>
<html>
<head>
  <title>Friend Request Reminder</title>
</head>
<body>
  <h1>Reminder: You have a pending friend request!</h1>
  <p>
    Hi <%= @receiver.username %>,
    <br>
    You have a pending friend request that hasn't been accepted yet.
  </p>
</body>
</html>
