<div class="container" id="home-container">
<div class="jumbotron text-center ">
  <h1 class="display-4">Hello!</h1>
  <p class="lead"> Welcome to Alpha Blog</p>
  <hr class="my-4">
  <p>Express Your Thoughts Here</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
</div>
</div>



